/*Style Sheet*/


/*Navigation Bar*/

.pill-navbar a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Lucida Console", Monaco, monospace;
    border-radius: 5px;
    max-width: 100%;
}


/* Hover color*/

.pill-navbar a:hover {
    background-color: lightskyblue;
    color: white;
}

.pill-navbar a.active {
    background-color: lightskyblue;
    color: white;
}

li a:hover {
    background-color: lightskyblue;
    max-width: 100%;
}


/* Dropdown button */

.dropdown {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Lucida Console", Monaco, monospace;
    border-radius: 5px;
    max-width: 100%;
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.dropcontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropcontent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropcontent {
    display: block;
}


/* Navbar container */


/* The dropdown container */


/*Social Media */


/*Some code provided by W3 Schools...has been modified*/

.fa {
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    max-width: 100%
}

.fa-angle-double-down {
    color: orange;
    font-size: 100px;
    bottom: 0;
    right: 15px;
    position: fixed;
}

.fa-facebook-f {
    color: white;
    font-size: 50px;
    max-width: 100%;
    text-decoration: none;
}

.fa-instagram {
    color: white;
    font-size: 50px;
    max-width: 100%;
    text-decoration: none;
}

.fa-youtube {
    color: white;
    font-size: 50px;
    max-width: 100%;
    text-decoration: none;
}

.fa-github {
    color: white;
    font-size: 50px;
    max-width: 100%;
    text-decoration: none;
}

.fa-linkedin {
    color: white;
    font-size: 50px;
    max-width: 100%;
    text-decoration: none;
}

.fa-file {
    color: gray;
    font-size: 70px;
    text-align: center;
    max-width: 100%;
}

.far {
    padding: 10px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    max-width: 100%;
}

.fa-code {
    color: white;
    font-size: 100px;
    text-align: center;
    max-width: 100%;
}

.fa-quote-left {
    color: lightskyblue;
    font-size: 80px;
    text-align: center;
    max-width: 100%;
}

.fa-quote-right {
    color: lightskyblue;
    font-size: 80px;
    text-align: center;
    max-width: 100%;
}

.fa-envelope {
    color: lightskyblue;
    font-size: 110px;
    text-align: center;
    max-width: 100%;
}

.fa-laptop-code {
    color: white;
    font-size: 150px;
    text-align: center;
    max-width: 100%;
}

.fa-comment-dots {
    color: white;
    font-size: 150px;
    max-width: 100%;
}

.fa-spinner {
    color: white;
    font-size: 150px;
    text-align: center;
    max-width: 100%;
}

.fa-youtube {
    color: red;
    font-size: 150px;
    text-align: center;
    max-width: 100%;
}


/*about page parallax effect*/

.footer {
    position: center;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    color: white;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}

.parallax-1 {
    background-color: white;
    height: 300px;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.name {
    position: center;
    max-width: 100%;
    padding: 55px;
    opacity: 0.6;
    color: black;
    font-size: 80px;
    text-decoration: none;
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: 4px;
}

.avatar {
    position: center;
    max-width: 100%;
}

.about-info {
    text-align: center;
    color: white;
    font-size: 35px;
    text-decoration: none;
    max-width: 100%;
    font-family: "Courier New", Courier, monospace;
}

.parallax-2 {
    background-color: dodgerblue;
    height: 750px;
    max-width: 100%;
    position: relative;
    border-radius: 25px;
}

.parallax-3 {
    background-color: dodgerblue;
    height: 780px;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
}

.parallax-4 {
    background-color: orange;
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    padding: 20px;
}

.parallax-5 {
    background-color: dodgerblue;
    height: 1500px;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
}

.parallax-6 {
    background-color: dodgerblue;
    height: 1300px;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
}


/*EDUCATION PAGE*/


/*education background image*/

.education-background {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.sru-info a:link,
.sru-info a:visited {
    color: darkgreen;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 60px;
    max-width: 100%;
}

.major-minor {
    color: lightskyblue;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    max-width: 100%;
}

.education-info {
    color: white;
    font-size: 25px;
    text-align: none;
    font-family: "Courier New", Courier, monospace;
    max-width: 100%;
}

.education-info2 {
    color: white;
    font-size: 25px;
    text-align: none;
    font-family: "Courier New", Courier, monospace;
    max-width: 100%;
}

.resume-doc {
    color: gray;
    font-size: 25px;
    text-align: center;
    max-width: 100%;
    font-family: "Lucida Console", Monaco, monospace;
}


/*CONTACT PAGE*/

.contact-background {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    margin: 0;
    height: 100%;
    max-width: 100%;
}

.contact-head {
    color: gray;
    text-decoration: none;
    font-size: 55px;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    max-width: 100%
}

.contact-pic {
    border-radius: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    height: 250px;
    width: 250px;
    max-width: 100%;
    opacity: 100%;
}

.contact-info {
    text-decoration: none;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    color: gray;
    font-size: 35px;
    max-width: 100%;
}

.envelope {
    text-align: center;
    max-width: 100%;
}

.social-contact {
    text-align: center;
    max-width: 100%;
}


/*PROJECT PAGE*/

.project-background {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    margin: 0;
    height: 100%;
    max-width: 100%;
}

.project-title {
    color: grey;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 60px;
    max-width: 100%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid orange;
  border-bottom: 16px solid orange;
  width: 120px;
  height: 120px;
    text-align: center;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#progress {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    font-size: 35px;
    max-width: 100%;
}
.zed-title {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 40px;
    max-width: 100%;
}

.zed-info {
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    max-width: 100%;
}

.yt-background {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    margin: 0;
    height: 100%;
    max-width: 100%;
}

.yt-title {
    color: grey;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 60px;
    max-width: 100%;
}

.subscribe-link a:link {
    color: red;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    max-width: 100%;
}