/*Background color*/

html {
    height:100%;
}
body {
    display: block;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height:100%;
}

.contact {
    background-color: white;
    vertical-align: middle;
  
    height:auto;
    max-width: 800px;
    padding: 30px;
    margin: auto;
    border-radius: 20px;
}

#label {
    text-align: left;
}