html {
  height: 100%;
}
body {
  min-height: 100%;
}

.form-head {
  color: white;
}

.form-container {
  width:100%; 
  border-radius: 20px;
  padding:10px;
  background-color: gainsboro;
}

#smiley {
  color: yellow;
}

#contact-social {
  font-size: 50px;
  text-align: center;
  letter-spacing: 10px;
}

#contact-social:hover {
  transform: scale(1.1);
}

#connect-head {
  font-family: "Permanent Marker";
  letter-spacing: 1px;
}
.connect {
  text-align: center;
}

#contact-pic {
  height: 250px;
  width: 250px;
  border-radius: 4px;
}

.profile {
  text-align: center;
}
