html {
  height: 100%;
}

body {
  min-height: 100%;
}
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

#port-head {
  font-family: "Permanent Marker";
  letter-spacing: 5px;
}

/*icon colors for viewing and github*/
.fab {
  color: black;
  font-size: 30px;
}

.fas {
  color: black;
  font-size: 30px;
}

.far {
  color: black;
  font-size: 30px;
}

.card {
  padding: 10px;
  max-width: 350px;
}

#col-space {
  padding: 10px;
}
.proj-img {
  text-align: center;
}

#card-img {
  height: 150px;
  width: 150px;
}

.card-body {
  text-align: center;
  font-weight: 600;
}

#card-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#modal-social:hover {
  transform: scale(1.1);
}

#footer-linkedin:hover {
  transform: scale(1.1);
}

#footer-git:hover {
  transform: scale(1.1);
}

#footer-fb:hover {
  transform: scale(1.1);
}

#footer-yt:hover {
  transform: scale(1.1);
}

#footer-linkedin {
  font-size: 40px;
}

#footer-git {
  font-size: 40px;
}

#footer-fb {
  font-size: 40px;
}

#footer-yt {
  font-size: 40px;
}
