/*Bootstrap styling for jumbotron title*/
.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }


  /*icon colors for viewing and github*/
  .fab  {
    color: darkviolet;
    font-size: 40px;
  }

  .fas {
    color:black;
    font-size: 40px;
  }

  .far {
    color:black;
    font-size: 2rem;
  }

  .card-body {
    text-align:center;
    font-weight:600;
  }

  #port-img:hover {
    transform: scale(1.1);
    cursor:pointer;
  }

  #footer-linkedin:hover{
    transform:scale(1.1);
  }

  #footer-git:hover{
    transform:scale(1.1);
  }

  #footer-fb:hover{
    transform:scale(1.1);
  }

  #footer-yt:hover{
    transform:scale(1.1);
  }